@import url(../css/base/reset.css);

body {
  background-color: #F4D04E;
}

.wrapper {
  height: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding-inline: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
/* card */

.card {
  max-width: 385px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #111111;
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 8px 8px 0px #000000;

}

.card__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-bottom: 24px;
}

.card__img-box {
  position: relative;
  width: 100%;
  min-height: 200px;
}

.card__img-box>img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.card__category {
  padding: 4px 12px;
  background-color: #F4D04E;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.card__category>span {
  display: inline-block;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 150%;
  color: #111111;
}

.card__date {
  font-family: "Figtree", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #111111;
  line-height: 150%;
}

.card__title {
  font-family: "Figtree", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;

}

.card__description {
  font-family: "Figtree", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #6B6B6B;
  line-height: 150%;

}

.card__user-info-box {

  display: flex;
  align-items: center;
  gap: 12px;
}

.card__user-img-box {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card__user-img-box>img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card__user-name {
  font-family: "Figtree", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  color: #111111;
}


@media (min-width:1280px) {
  .card__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }

  .card__category>span {
    font-size: 14px;
  }

  .card__date {
    font-size: 14px;
  }

  .card__title {
    font-size: 24px;

  }

  .card__description {
    font-size: 16px;

  }

  .card__user-name {
    font-size: 14px;
  }

}